@media (max-width: 768px) {
    .sub-header {
        margin-top: 50px;
        padding: 60px 20px;
        width: 100vw;
    }

    .skill-card {
        width: 100%;
        max-width: 320px;
    }
}