/* Self image */
.self-image{
    object-fit: cover;
    width: 400px;
    height: 460px;
    margin-left: 150px;
    margin-top: 100px;
    border-radius: 20px;
}
.text-and-image-container{
    display: flex;
    align-items: center;
    gap: 150px;
   
}
.underline{
    width: 70px;
    background-color: rgb(44, 128, 224);
    height: 4px;
}

.block-container{
    gap: 40px;
    display: flex;
}
.block{
    width: 50px;
    border-radius: 10px;
    height: 50px;
    background-color: rgb(214, 214, 214);
}
.block-one-container{
    display: flex;
    gap: 10px;
}