.text-content{
    display: flex;
    justify-content: flex-start;
    min-height: 100vh;
    height: auto;
}
.header{
    font-size: 40px;
    font-weight: none;
    color: rgb(255, 255, 255);
}
.phone-subtag{
    font-size: 18px;
    font-weight: 100;
    background: none;
    border: none;
    color: #0000EE;
}
.email-subtag{
    font-size: 18px;
    font-weight: 100;
    background: none;
    border: none;
    color: #0000EE;
    text-align: right;
}
.education-subtag{
    font-size: 18px;
    font-weight: 100;
    background: none;
    border: none;
    color: #0000EE;
}
.linkedin-subtag{
    font-size: 18px;
    font-weight: 100;
    background: none;
    border: none;
    color: #0000EE;
    
}
.content-header{
    font-size: 30px;
    font-weight: none;
    color: rgb(255, 255, 255);
}
html, body {
    width: 100%;
    min-height: 100%;
    height: auto;
    overflow-x: hidden;
    overflow-y: auto;
}

html, body {
    overflow-x: hidden;
    width: 100%;
}

* {
    box-sizing: border-box;
}

.social-container{
    display: flex;
    gap: 150px;
    
}
.github img{
    width: 30px;
    height: 30px;
}
.linkedin img{
    width: 30px;
    height: 30px;
}
.pv-logo{
    padding: 10px;
}