@media(max-width: 1600px){

    .card-content,
    .main-card-content{
        flex-direction: row;
        align-items: center;
        width: 100%;
        padding-left: 0;
        padding-right: 0;
        gap: 20px;
    }

 
.card,
.main-card{
    width: 100%;
    max-width: 400px;
    min-height: 830px;
    height: auto;
    margin: 0 auto;
    padding: 40px 20px;
    box-sizing: border-box;
}



    .linkedin, .github{
        width: 70px;
        height: 50px;
    }
    .linkedin-text, .connect-text, .github-text{
        display: none;
    }
    .github img, .linkedin img{
        margin-left: 10px;
        margin-bottom: 10px;
    }
    .sub-text{
        text-align: center;
    }

}






@media(max-width: 1000px){

    .card-content,
    .main-card-content{
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding-left: 0;
        padding-right: 0;
        gap: 20px;
    }

    .main-card,
    .card{
        width: 100%;
        max-width: 400px;
        height: auto;
        margin: 0 auto;
        padding: 40px 20px;
        box-sizing: border-box;
    }

    .main-card{
        min-height: 750px;
    }
    .linkedin, .github{
        width: 70px;
        height: 50px;
    }
    .linkedin-text, .connect-text, .github-text{
        display: none;
    }
    .github img, .linkedin img{
        margin-left: 10px;
        margin-bottom: 10px;
    }
    .sub-text{
        text-align: center;
    }
    .quote-footer{
        max-width: 400px;
        width: 100%;
    }

}


