@media (max-width: 1470px) {
    .experience-summary {
        position: static;
        margin-top: 30px;
        padding-left: 80px;
        justify-content: center;
        width: 78%;
    }

    .experience-table {
        width: 100%;
        max-width: 100%;
    }
}

@media (max-width: 768px) {
    .experience-table th,
    .experience-table td {
        padding: 12px;
        font-size: 14px;
    }

    .experience-summary {
        padding: 10px;
    }
}

