
@media (max-width: 1550px) {
    .costco-experience-summary, .cinemark-experience-summary{
        position: static;
        margin-top: 30px;
        display: flex;
        justify-content: center;
        padding-left: 0;
        width: 100%;
    }
    

    .costco-experience-table, .cinemark-experience-table {
        max-width: 900px;
    }
}

@media (max-width: 768px) {
    .costco-experience-table th,
    .costco-experience-table td,
    .cinemark-experience-table th,
    .costco-experience-table td {
        padding: 12px;
        margin: 0;
        font-size: 14px;

        
    }

    .costco-experience-summary,
    .cinemark-experience-summary {
        padding: 10px;


    }
}

