.sub-header{
    background-color: rgb(44, 128, 224);
    color: white;
    padding: 10px;
    display: flex;
    justify-content: center;
}
/* Tag that is placed on the sub header */
.notice-label{
    text-align: center;
}