.sub-header{
    background-color: rgb(44, 128, 224);
    color: white;
    padding: 10px;
    display: flex;
    justify-content: center;
}
/* Tag that is placed on the sub header */
.notice-label{
    text-align: center;
}


/* Container to hold personal logo and name */
.peaks-label{
    color: rgb(255, 255, 255);
    font-size: 35px;
    font-weight: bold;
}
.PV-logo{
    width: 75px;
    height: 75px;
  
    
}
.logo-name-container{
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding: 35px;
    
}

