.email-img{
    width: 25px;

}
.phone-img{
    margin-top: 5px;
    width: 25px;
    height: 25px;
}
.github-img{
    margin-top: 7px;
    width: 25px;
    height: 25px;
}
.linkedin-img{
    margin-top: 7px;
    width: 25px;
    height: 25px;
}